<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBraVJl5NOychSR3e4RJBKnoh4xCkB0nz4</string>
	<key>GCM_SENDER_ID</key>
	<string>578088338580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wustl.FinalProject438</string>
	<key>PROJECT_ID</key>
	<string>finalproject438-cd880</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproject438-cd880.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578088338580:ios:cd99b0ec6bdecb88906081</string>
</dict>
</plist>